/*
  Copyright Nikolaos Terzis and Jim Carty © 2022: nickterzis.18@gmail.com and cartyjim1@gmail.com

  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
*/

.progress-bar {
	background: var(--primary);
}

.question-section {
	margin-top: 1.2rem;
	font-weight: 900;
	font-size: 1.2rem;
}

.question-text {
	margin-bottom: 12px;
	color: black;
}

.animationVideo {
	width: 100%;
	height: 100%;
	max-width: 800px;
	max-height: 500px;
}

@media (max-width: 500px) {
	#animationModal {
		margin-top: 30%;
	}
}

.questionButton {
	margin-top: 1.2rem;
}

.next {
	float: right;
}

#decisionsSpinner {
	display: block;
	margin: 0 auto;
}

.answer-section .answer-secondary {
    color: white;
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.answer-section .answer-secondary:hover {
	color: white;
	background-color: var(--secondary);
	border-color: var(--secondary);
}

.answer-section .answer-secondary:focus {
	color: white;
	background-color: var(--secondary);
	border-color: var(--secondary);
}

.answer-section .answer-outline-secondary {
    color: var(--secondary);
    background-color: white;
    border-color: var(--secondary);
}

.answer-section .answer-outline-secondary:hover {
	color: var(--secondary);
	background-color: white;
	border-color: var(--secondary);
}

.answer-section .answer-outline-secondary:focus {
	color: var(--secondary);
	background-color: white;
	border-color: var(--secondary);
}

.answer {
	font-size: 16px;
	border-radius: 15px;
	display: flex;
	padding: 5px;
	border: 5px solid #234668;
	margin-bottom: 0.1rem;
	text-align: left;
}

#animationModal {
	width: fit-content;
	max-width: none;
}