/*
  Copyright Jim Carty © 2021: cartyjim1@gmail.com

  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
*/

.subtitle{
  font-family: 'Sanchez', serif;
  text-align: center;
  padding-top: 1rem;
  padding-bottom:2.5rem;
}

.content{
  padding-top: 2.5rem;
  background-color:rgb(232, 190, 144) ;
}

.secret-key-box {
	background: var(--secondary);
	color: white;
	padding: 0.5rem;
	width: fit-content;
	font-weight: 900;
}

.secret-key-box span.key-value {
	font-family: 'Fira Code', monospace;
}

#introVideoRow {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#introVideo {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

#introYtLinkRow {
  margin-bottom: 1.5rem;
}