/*
  Copyright Jim Carty © 2021: cartyjim1@gmail.com

  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
*/

.login-header-title {
	background: var(--secondary);
	text-align: center;
	color: white;
	font-size: 1.2rem;
	font-weight: 900;
	margin-top: 1.5rem;
}

.login-credential-form {
	margin-top: 2rem;
}

.login-logo {
	width: 100%;
}