/*
  Copyright Jim Carty © 2021: cartyjim1@gmail.com

  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
*/

.marketplace-submission-logo {
	width: 10rem;
}

.spinner {
	animation: 1.5s linear infinite spin;
}

@keyframes spin {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}

.label-addition {
	float: right;
}

.marketplace {
	--field-spacing: .5rem; /* determines distance vertically between elements + 1rem */
}

.marketplace>* {
	min-width: 20rem; /* constrains width on all right-side elements due to how BS rows and cols work */
	margin-top: var(--field-spacing);
}

.marketplace.company-name {
	margin-top: 0;
}

div.embeded {
	margin: 0 auto;
    display: flex;
	padding: 2px;
	border-width: 1px;
	border-radius: .25rem;
	border-color: lightgrey;
	border-style: solid;
	width: 100%;
	overflow: auto;
}

/* div.embeded>* {
	object-fit: contain;
	margin: 0 auto;
	width: inherit;
	border-radius: .15rem;
} */

div.embeded>* {
	margin: 0 auto;
	border-radius: .15rem;
	width: inherit;
}

div.embeded img {
	width: 100%;
    height: fit-content;
}

div.embeded.target-customer {
	height: 21.2rem;
}

div.embeded.poster {
	height: 22.5rem;
}

.marketplace-field-header {
	margin-bottom: .2rem;
}

.marketplace-stall-specific-logo {
	height: 10.25rem;
	margin: 0 auto;
    display: flex;
}

.marketplace-stall-specific-logo>* {
    object-fit: contain;
    margin: 0 auto;
    width: inherit;
	border: 1px solid lightgrey;
	border-radius: .25rem;
}

.marketplace-specific-judge-score-group {
	float: right;
	width: unset;
}