/*
  Copyright Jim Carty © 2021: cartyjim1@gmail.com

  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
*/

.marketplace-container {
	display: flex;
    justify-content: center;
}

.marketplace-stall {
	border-width: 1px;
	border-style: solid;
	border-color: lightgrey;
	border-radius: .5rem;
	width: 21rem;
	/* height: 35rem; */
	text-align: center;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	overflow: auto;
	cursor: pointer;
	margin: 1rem 1rem 1rem 1rem;	
}

.marketplace-stall-heading {
	font-weight: 900;
	font-size: 1.2rem;
	overflow: auto;
    white-space: nowrap;
}

.marketplace-stall-logo {
	height: 7rem;
	margin: 0 auto;
    display: flex;
}

.marketplace-stall-logo>* {
    object-fit: contain;
    margin: 0 auto;
    width: inherit;
	border: 1px solid lightgrey;
	border-radius: .25rem;
}

.marketplace-stall-tagline {
	margin-bottom: 1.5rem;
	padding: .2rem;
	border: 1px solid lightgrey;
	border-radius: .25rem;
	height: 10vh;
	display: flex;
	align-items: center;
	overflow: auto;
}

.marketplace-stall-tagline span {
	margin: 0 auto;
}

.marketplace-stall-poster {
	margin: 0 auto;
    display: flex;
	padding: 2px;
	border-width: 1px;
	border-radius: .25rem;
	border-color: lightgrey;
	border-style: solid;
	width: 100%;
	height: 16.2rem;
	overflow: auto;
}

.marketplace-stall-poster>* {
	margin: 0 auto;
	border-radius: .15rem;
}

.marketplace-stall-poster img {
	width: 100%;
    height: fit-content;
}