/*
  Copyright Jim Carty © 2021: cartyjim1@gmail.com

  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
*/

.school-keys-list {
	text-align: center;
	width: 100%;
	border-spacing: 0 1.5rem;
	border-collapse: separate;

	--table-elem-border-radius: .25rem;
	--table-elem-border-thickness: 1px;
	--table-elem-border-colour: lightgrey;
}

.school-keys-list-header {
	font-weight: 900;
}

.school-keys-list-header > *:last-child {
	padding-right: 1rem;
}

.school-keys-list-header > *:first-child {
	padding-left: 1rem;
}

.school-keys-list-header > * {
	/* padding-top: 1rem; */
	padding-bottom: 1rem;
}

.school-keys-list-elem {
	border-radius: .25rem;
	border-width: 1px;
	border-color: lightgrey;
	border-style: solid;
	align-items: center;
}

.school-keys-list-elem > *:last-child {
	padding-right: 1rem;
	border-right: 1px lightgrey solid;
	border-top-right-radius: var(--table-elem-border-radius);
	border-bottom-right-radius: var(--table-elem-border-radius);
}

.school-keys-list-elem > *:first-child {
	padding-left: 1rem;
	border-left: 1px lightgrey solid;
	border-top-left-radius: var(--table-elem-border-radius);
	border-bottom-left-radius: var(--table-elem-border-radius);
}

.school-keys-list-elem > * {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-top: var(--table-elem-border-thickness) var(--table-elem-border-colour) solid;
	border-bottom: var(--table-elem-border-thickness) var(--table-elem-border-colour) solid;
}