/*
  Copyright Jim Carty © 2022: cartyjim1@gmail.com

  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
*/

.input-group>input.form-control {
	border-radius: .5rem;
}

label.deadlines-help-text {
	font-size: medium;
	padding-bottom: .2rem;
}