/*
  Copyright Jim Carty © 2022: cartyjim1@gmail.com

  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
*/


.teachers-table-logo>* {
    object-fit: contain;
	border: 1px solid lightgrey;
	border-radius: .25rem;
}

.teachers-list {
	text-align: center;
	width: 100%;
	border-spacing: 0 1.5rem;
	border-collapse: separate;

	--table-elem-border-radius: .25rem;
	--table-elem-border-thickness: 1px;
	--table-elem-border-colour: lightgrey;
}

.teachers-list-header {
	font-weight: 900;
}

.teachers-list-header > *:last-child {
	padding-right: 1rem;
}

.teachers-list-header > *:first-child {
	padding-left: 1rem;
	width: 20%;
}

.teachers-list-header > * {
	/* padding-top: 1rem; */
	padding-bottom: 1rem;
}

.teachers-list-elem {
	border-radius: .25rem;
	border-width: 1px;
	border-color: lightgrey;
	border-style: solid;
	align-items: center;
}

.teachers-list-elem > *:last-child {
	padding-right: 1rem;
	border-right: 1px lightgrey solid;
	border-top-right-radius: var(--table-elem-border-radius);
	border-bottom-right-radius: var(--table-elem-border-radius);
}

.teachers-list-elem > *:first-child {
	padding-left: 1rem;
	border-left: 1px lightgrey solid;
	border-top-left-radius: var(--table-elem-border-radius);
	border-bottom-left-radius: var(--table-elem-border-radius);
}

.teachers-list-elem > * {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-top: var(--table-elem-border-thickness) var(--table-elem-border-colour) solid;
	border-bottom: var(--table-elem-border-thickness) var(--table-elem-border-colour) solid;
}

.teachers-list-elem > *.expanded {
	border-bottom: 0;
}

.teachers-table-button {
	margin: 0.5rem 0;
}

.teachers-table-expanded-teams {
	position: relative;
	top: -1.7rem;
}

.teachers-table-expanded-teams > td {
	display: block
}

.teachers-table-expanded-teams > td.expanded {
	display: table-cell;

	margin: 1rem;
	padding: 1rem;

	border-radius: .25rem;
	border: 1px solid lightgrey;
	border-top: 1px solid white;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.teachers-table-expanded-teams > td > div {
	padding: 1rem;

	border-radius: .25rem;
	border: 1px solid lightgrey;
}