/*
	Copyright Jim Carty © 2021: cartyjim1@gmail.com

	This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
*/

.offcanvas {
	width: var(--navigation-desktop-width);
	background-color: var(--secondary);
    border-color: var(--primary);
	border-width: var(--highlight-border-width);
	transition: none !important;
}

.offcanvas.mobile {
	width: 100%;
	height: fit-content;
	text-align: center;
	border-width: var(--highlight-border-width);
	border-bottom: 0;
}

.offcanvas-header {
	padding: 1rem;
    background-color: var(--secondary);
	color: white;
    font-weight: 900;
    align-items: center;
    display: flex;
	justify-content: space-between;
	border-bottom: var(--highlight-border-width) var(--primary) solid;
}

.offcanvas-body {
	padding: 0; /* padding prevents completely smooth transition on mobile navigation display */
}

.basepage-offcanvas-entry {
	padding: 1rem 1rem 1rem 1rem;
	font-weight: 600 !important;
	border-bottom: calc(var(--highlight-border-width) / 1.5) white solid;
	cursor: pointer;
}

.basepage-offcanvas-entry-notification-bubble {
	--notification-bubble-height: 1.1rem;
	--notification-bubble-min-width: 1.1rem;
	border: red solid calc(var(--notification-bubble-min-width) / 2);
    border-radius: calc(var(--notification-bubble-min-width) / 2);
    display: flex;
    float: right;
    transform: translateY(calc(-100% - 1rem));
    font-size: x-small;
    background: red;
    min-width: var(--notification-bubble-min-width);
    height: var(--notification-bubble-height);
	justify-content: center;
	align-items: center;
	color: white !important;
}

.basepage-offcanvas-entry-notification-bubble>span {
    transform: translateY(-50%);
}

.basepage-offcanvas-entry.mobile-login-details {
	color: white;
	text-align: left;
	font-weight: 500 !important;
	display: flex;
	align-items: center;
}

.logout-button-mobile-navigation {
	margin: 0 0 0 auto;
	align-self: flex-end;
}

.basepage-offcanvas-entry>*>* {
	color: white;
	text-decoration: none;
}

.basepage-offcanvas-entry:hover>*>* {
	color: #0a58ca;
}

.basepage-offcanvas-entry:last-of-type {
	border-bottom: 0;
}

.pagebody {
	margin-left: var(--navigation-desktop-width);
	overflow-x: clip; /* fix strange whitespace if you scroll right */
}

.pagebody.mobile {
	margin: 0;
	transition: all 0.35s ease 0s;
}

.pagebody.mobile.true {
	margin: 0;
}

.navigation-button {
	float: right
}

.basepage-header {
	padding: 0.5rem 1rem 0 1rem;
}

.basepage-header .logo-title {
	background: var(--secondary);
	text-align: center;
	color: white;
	font-size: 1rem;
	font-weight: 800;
	margin-top: 0.3rem;
}

.basepage-header .login-information {
	float: right;
	font-size: .8rem;
	font-weight: 600;
}

.basepage-header .login-information.mobile {
	margin-top: 1rem;
}

.basepage-title-banner {
	background: var(--secondary);
	font-size: 1.1rem;
	font-weight: 900;
	color: white;
	width: 100%;
	padding: .2rem 1rem .2rem 1rem;
	margin-top: 1rem;
	border-bottom: var(--highlight-border-width) var(--primary) solid;
}

.mainbody {
	padding: 1rem 1rem 1rem 1rem;
	overflow: auto;
}

.basepage-miletone-bar {
	margin: 1rem 4rem .5rem 4rem;
}