/*
	Copyright Jim Carty © 2021: cartyjim1@gmail.com

	This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
*/

.credential-form-title {
	font-weight: 900;
}

.credential-form-label {
	font-weight: 700;
}

.form-floating>label {
	opacity: .65;
}