/*
	Copyright Jim Carty © 2021: cartyjim1@gmail.com

	This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
*/

.progress-bar-wrapper {
	--milestone-width: .666rem;
	padding: calc(var(--milestone-width) * 1.5) var(--milestone-width) calc(var(--milestone-width) * 1.5) var(--milestone-width);
}