/*
	Copyright Jim Carty © 2021: cartyjim1@gmail.com

	This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
*/

.progress-bar-milestone {
	width: calc(var(--milestone-width) * 2);
	height: calc(var(--milestone-width) * 2);
	-webkit-transform: translateX(calc(-1 * calc(var(--milestone-width) / 2)));
	-ms-transform: translateX(calc(-1 * calc(var(--milestone-width) / 2)));
	transform: translateX(calc(-1 * calc(var(--milestone-width) / 2)));
	border-radius: calc(var(--milestone-width));
	cursor: pointer;
	color: white;
}

.progress-bar-milestone > summary.adjusted {
    margin-left: 0.32rem;
}

.progress-bar-milestone > summary {
	font-size: .8rem;
    padding-top: 0.1rem;
}

.progress-bar-milestone > summary::marker {
	font-family: 'Font Awesome\ 5 Free';
	font-weight: 900;
    content: '\f078';
}

.progress-bar-node-task-icon {
	width : 1rem;
}

.milestone-task-row {
	padding-top: calc(2px + 0.3rem);
	margin-bottom: calc(3px + 0.3rem);
	border-top: 1px solid lightgrey;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-style: solid;
}

.milestone-task-row:first-of-type {
	border-color: transparent;
	padding-top: 3px;
	border-top: 0;
}

.milestone-task-row:last-of-type {
	margin-bottom: 3px;
}