/*
	Copyright Jim Carty © 2021: cartyjim1@gmail.com

	This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
*/

.center-aligned-div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}