/*
Copyright Jim Carty © 2021: cartyjim1@gmail.com

This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
*/

body {
	--primary: #FD8204;
	--secondary: #032F3C;

	--highlight-border-width: 3px; /* Must also be reflected in the BasePage mobile navigation margin calculation */

	--navigation-desktop-width: 13.5rem;

	font-family: 'Montserrat', sans-serif;
	font-style: normal;

	font-size: large;
}

.btn {
	border-radius: .5rem;
}

/* outline-primary */
button.btn-outline-primary {
	color: var(--primary);
	border-color: var(--primary);
}

button.btn-outline-primary:hover {
	background-color: var(--primary);
	border-color: var(--primary);
	color: white !important;
}

button.btn-outline-primary:active {
	background-color: var(--primary);
	border-color: var(--primary);
	color: white !important;
}

button.btn-outline-primary:focus {
	background-color: var(--primary);
	color: white !important;
	border-color: var(--primary);
}

button.btn-outline-primary:disabled {
	border-color: var(--primary);
	color: var(--primary);
}

/* primary */
button.btn-primary {
	color: white;
	border-color: var(--primary);
	background-color: var(--primary);
}

button.btn-primary:hover {
	color: white;
	border-color: var(--primary);
	background-color: var(--primary);
}

button.btn-primary:focus {
	color: white;
	border-color: var(--primary);
	background-color: var(--primary);
}

button.btn-primary:active {
	color: white !important;
	border-color: var(--primary);
	background-color: var(--primary);
}

button.btn-primary:disabled {
	border-color: var(--primary);
	color: var(white);
	background-color: var(--primary);
}

/* outline secondary */
button.btn-outline-secondary {
	color: var(--secondary);
	border-color: var(--secondary);
}

button.btn-outline-secondary:hover {
	background-color: var(--secondary);
	border-color: var(--secondary);
	color: white !important;
}

button.btn-outline-secondary:active {
	background-color: var(--secondary);
	border-color: var(--secondary);
	color: white !important;
}

button.btn-outline-secondary:focus {
	background-color: var(--secondary);
	color: white !important;
	border-color: var(--secondary);
}

button.btn-outline-secondary:disabled {
	color: var(--secondary);
	border-color: var(--secondary);
}

/* secondary */
button.btn-secondary {
	color: white;
	border-color: var(--secondary);
	background-color: var(--secondary);
}

button.btn-secondary:hover {
	color: white;
	border-color: var(--secondary);
	background-color: var(--secondary);
}

button.btn-secondary:focus {
	color: white;
	border-color: var(--secondary);
	background-color: var(--secondary);
}

button.btn-secondary:active {
	color: white;
	border-color: var(--secondary);
	background-color: var(--secondary);
}

button.btn-secondary:disabled {
	color: white !important;
	border-color: var(--secondary);
	background-color: var(--secondary);
}


img {
	height: auto;
	width: 100%;
}